p, span {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 16px;
}

h2 {
  font-family: 'Roboto Slab';
  font-weight: bold;
}

h3 {
  font-family: 'Roboto Slab';
  font-style: italic;
  color: #ffffff;
  text-shadow: 1px 1px #454545;
  font-size: 1.75em;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: 1.25em;
}

a {
  color: #ffffff;
}

a:hover {
  color: #245640;
}

/******* Navbar ******/

.navbar-default {
  background-color: #229ab3;
  height: 6em;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar {
  padding-left: 0;
}

.navbar a {
  letter-spacing: 1px;
  font-size: 1.5em;
  font-family: 'Fjalla One';
  text-shadow: 1px 1px #454545;
}

.navbar-right {
  margin-right: 0px;
}

.navbar-brand {
  margin-top: -0.85em;
  padding-right: 0;
  width: 50%;
  height: 5.25em;
}

.navbar-brand img {
  width: 90%;
  margin-top: 0.3em;
}

#total-navbar ul {
  margin-left: -6em;
  margin-top: 1.25em;
}


@media(max-width: 768px) {
  .navbar-brand img {
    width: 30%;
    margin-top: 0.35em;
  }

  .navbar-brand {
    margin-top: -1em;
    height: 5em;
  }
}

/******* Sections ******/
header {
  background-color: #089975;
}

.below-navbar {
  margin-top: 4em;
}

.row-padding {
  padding: 2em 0em 0em 0em;
}

#banner {
  height: 200px;
  width: 100%;
  background-image: url(../images/banner.png);
  background-repeat: center no-repeat;
  margin: 0 auto;
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.banner-header-block {
  margin: 0 auto;
  width: 40%;
  height: 15%;
  padding: 2% 5% 2% 5%;
  background-color: rgba(107, 107, 107, 0.9);
  text-align: center;
  margin-top: 8.5em;
  border-radius: 2px;
}

.banner-header {
  font-family: 'Fjalla One';
  font-style: italic;
  color: #ffffff;
  text-shadow: 1px 1px #454545;
}

.table-header {
  background-color: #089975;
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 1px 1px #888888;
}

table a {
  color: #2C3E50;
}

.table tr td:nth-child(1) {
  width: 20%;
}

.new-header {
  font-style: normal;
  color: black;
  padding: 0.5em 0em 2em 0em;
  font-family: 'Fjalla One', sans-serif;
}

.pagination>li>a {
  color: #089975;
}

.pagination>.active>a {
  background-color: #089975;
  border-color: #089975;
}

.box-style {
  background-color: #ECF0F1;
  border-radius: 5px;
  padding: 2em 2em 1em 2em;
}

/******* Ride view ******/

.photos {
  margin-top: 2.5em;
}

.photos-box img {
  height: 9em;
  width: 100%;
}

.footer-text {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  color: #ffffff;
}

.footer-color-one {
  background-color: #088099;
  height: 1em;
  padding: 1em 0em;
}

.footer-color-two {
  background-color: #229ab3;
  height: 6em;
  padding: 1.25em 0em 2.5em 0em;
}

.footer-color-three {
  background-color: #088099;
  height: 1em;
  padding: 1em 0em 2em 0em;
  color: #ffffff;
}

.footer-links-block {
  padding: 1em 0em 0.5em 0em;
}

.footer-links a {
  font-family: 'Roboto Slab';
}

.footer-links a:hover {
  text-decoration: none;
}

.footer-links li {
  list-style: none;
}

/******* Ride full view ******/

.underscore {
  border-bottom: 2px solid #E67E22;
}

.box-ride {
  border: 3px solid #E67E22;
  border-radius: 5px;
}

.special-number {
  color: #000000;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}

/******* Modals ******/

.bike-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.bike-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 70px;
  height: 70px;
  background-color: #107360;
  border-radius: 50px;
  cursor: pointer;
}

.bike-modal .close-modal:hover {
    opacity: .3;
}

.bike-modal .close-modal .lr {
  z-index: 1051;
  width: 3px;
  height: 50px;
  margin-left: 34px;
  margin-top: 10px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bike-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 3px;
  height: 50px;
  background-color: #ffffff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.bike-modal .modal-backdrop {
  display: none;
  opacity: 0;
}

hr {
  border-top: 1px solid #107360;
}

.caption {
  position: absolute;
  width: 90.5%;
  height: 100%;
  opacity: 0;
  background: rgba(16,115,96,.9);
  border-radius: 10px;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transform: all ease .5s;
  transition: all ease .5s;
}

.caption:hover {
  opacity: 1;
}

.caption .caption-content {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

/******* Helpers ******/

.center {
  text-align: center;
  margin: 0 auto;
}

.bottom {
  padding-bottom: 0.5em;
}

.bottom-extra {
  margin-bottom: 1em;
}

.bottom-plus {
  padding-bottom: 1.25em;
}

.shadow {
  text-shadow: 1px 1px #454545;
  letter-spacing: 1px;
}

.strong {
  font-weight: bold;
}

.blue-text {
  color: #2980B9;
}

.regular-content-size {
  width: 100%;
  margin: 0 auto;
}

.padding-box {
  padding: 1em 0em;
}

.pre-small {
  font-size: 0.9em;
}

.small {
  font-size: 0.8em;
}

.img-responsive {
  width: 100%;
}

.ezimage-field{
  margin: 0;
}

.extra-padding-left {
  padding-left: 1em;
}
