<div class="row regular-content-size">
    <div class="col-xs-12 box-style">
        <h3 class="center bottom-plus new-header">{{ 'Aktualności'|trans }}</h3>
        {% if pagerAktualnosci is not empty %}
            {# Loop over the page results #}
            {% for aktualnosc in pagerAktualnosci.currentPageResults %}
               
                {{ render( controller( 'ez_content:viewAction', { 'location': aktualnosc, 'viewType': 'line' } )) }}
                
            {% endfor %}
        {% else %}
            <p>{{ 'Brak Aktualnosci'|trans }}</p>
        {% endif %}

        {% if pagerAktualnosci.haveToPaginate() %}
            <div class="colo-xs-12 text-center">
                <div class="pagerfanta pagination">
                    {{ pagerfanta( pagerAktualnosci, 'twitter_bootstrap3_translated', {'routeName': location } ) }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
