{% extends "main_layout.html.twig" %}
{% block content %}
<tr>
    <td>
<section>
        <div class="row regular-content-size">
            <div class="row">
             <a href="{{ path( "ez_urlalias", { 'locationId': content.contentInfo.mainLocationId } ) }}"
        target="_self">
            <strong>
                {{ content.name }}
            </strong>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'photo') }}
                </div>
                <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'date') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'shortdescription') }}
                </div>
                
            </div>
            </div>
            </section>   
      {% endblock %}
