<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Witaj w MediLib !">
        <link rel="manifest" href="/manifest.webmanifest">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="MediLib PWA">
        <link rel="apple-touch-icon" href="/web/assets/images/logo.png">
        <meta name="theme-color" content="#2F3BA2" />
        <title>Witaj w MediLib !</title>

        {% stylesheets 'assets/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" id="total-navbar">
        <div class="footer-color-one">
                <div class="container">
                    <div class="row regular-content-size">
                        <div class="col-xs-8 col-xs-offset-2 footer-links-block">
                             <div class="container">
                <!-- Brand and toggle -->
                <div class="navbar-header page-scroll">
                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="{{ asset('assets/images/logo.png') }}">
                        
                    </a>
                </div>
                            <ul class="list-inline footer-links">
                                <li><a href="/">{{ 'Aktualności'|trans }}</a></li>
                                <li><a href="/specjalizacje">{{ 'Specjalizacje'|trans }}</a></li>
                                <li><a href="#">{{ 'Zaloguj'|trans }}</a></li>
                                
                            </ul>
                            </div>
                        </div>
                         
                    </div>
                    
                </div>
            
        </div>
        
        </nav>

        <!-- Header -->
        <header class="below-navbar">
            <div class="container">
                <div class="row" >
                    <div class="col-xs-12">
                        
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <div class="row regular-content-size">
                    <div class="col-xs-12 box-style">
                        {% block content %}
                        {% endblock %} 
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-color-one">
            </div>
            <div class="footer-color-two">
                <div class="container">
                    <div class="row regular-content-size">
                        <div class="col-xs-8 col-xs-offset-2 footer-links-block">
                            <ul class="list-inline footer-links">
                                <li><a href="#">{{ 'O nas'|trans }}</a></li>
                                <li><a href="#">{{ 'FAQ'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-color-three">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="small">MediLib {{ "now"|date("Y") }} All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {% javascripts 'assets/js/jquery.min.js'
                        'assets/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </body>
</html>
