{% extends "main_layout.html.twig" %}
{% block content %}
<div class="col-xs-10 col-xs-offset-1 text-justified">
    <section>
        <div class="row regular-content-size">
            <div class="col-xs-12">
                <h3 class="center bottom-plus new-header">{{ content.name }}</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="row regular-content-size">
            <div class="row">
            <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'name') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'photo') }}
                </div>
                <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'date') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'shortdescription') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'description') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'tag') }}
                </div>
                
            </div>
            </div>
            </section>   
    </div>

</div>
{% endblock %}