{% extends "main_layout.html.twig" %}
{% block content %}
<div class="col-xs-10 col-xs-offset-1 text-justified">
    <section>
        <div class="row regular-content-size">
            <div class="col-xs-12">
                <h3 class="center bottom-plus new-header">{{ content.name }}</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="row regular-content-size">
            <div class="row">
            <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'tytul') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ 'Utworzono'|trans }}</h4>
                    {{ ez_render_field(content, 'data') }}
                </div>
                <div class="col-xs-6">
                    <h4 class="underscore">{{ 'przez'|trans }}</h4>
                    {{ ez_render_field(content, 'autor') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ 'Opis'|trans }}</h4>
                    {{ ez_render_field(content, 'opis') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'zagrozenie') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'bol') }}
                </div>
                 <div class="col-xs-6">
                    <h4 class="underscore">{{ ''|trans }}</h4>
                    {{ ez_render_field(content, 'tagi') }}
                </div>
                
            </div>
            </div>
            </section>   
    </div>

</div>
{% endblock %}