{% extends "main_layout.html.twig" %}
{% block content %}
<div class="col-xs-10 col-xs-offset-1 text-justified">
    <section>
        <div class="row regular-content-size">
            <div class="col-xs-12">
               <button type="button" class="btn btn-default"><a href="/specjalizacje/diabetologia">{{ 'Diabetologia'|trans }}</a></button>
            </div>
        </div>
    </section>
    
    </div>

</div>
{% endblock %}