{% extends "main_layout.html.twig" %}

{% block page_head %}
    {% set title = 'Rejestracja użytkownika'|trans %}

    {{ parent() }}
{% endblock %}

{% block content %}
    {% import 'user/registration_content_form.html.twig' as registrationForm %}

    <div class="container">
        <section class="user-form col-md-6 col-md-offset-3">
            <h2>{{ 'Zarejestruj się'|trans }}</h2>
            <div class="legend">* {{ 'Wszystkie pola są wymagane'|trans }}</div>

            {{ registrationForm.display_form(form) }}
        </section>
    </div>
{% endblock %}
